.container {
	display: flex;
}

.item {
	border-style: solid;
	border-width: 1px 1px 1px 0;
	padding: 0.5rem 1rem 0.5rem 1rem;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: var(--item-color);
	background-color: var(--item-background-color);

	&:first-child {
		border-width: 1px 1px 1px 1px;
	}

	&:hover:not(.active) {
		background-color: var(--item-hover-background-color);
		color: var(--item-hover-color);
	}

	&.active {
		background-color: var(--item-active-background-color);
		color: var(--item-active-color);
	}
}
