.input {
	box-sizing: border-box;
	padding: 10px;
	border: var(--border-width) solid var(--info-color);
	outline: none;
}

.container {
	display: flex;
	flex-direction: column;

	:global(&.success) {
		color: var(--success-color);

		.input {
			border-color: var(--success-color);
		}
	}

	:global(&.warning) {
		color: var(--warning-color);

		.input {
			border-color: var(--warning-color);
		}
	}

	:global(&.error) {
		color: var(--error-color);

		.input {
			border-color: var(--error-color);
		}
	}

	.input:focus {
		border-color: var(--focus-color);
		border-width: var(--focus-border-width);
	}
}

.message {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	gap: 0.5rem;
}
