.container {
  display: flex;
  align-items: center;
  font-size: var(--checkbox-size, 1rem);
  cursor: pointer;
  width: fit-content;
}

.input {
  appearance: none;
  border: 2px solid black;
  cursor: pointer;
  width: calc(var(--checkbox-size, 1rem) * 1.25);
  height: calc(var(--checkbox-size, 1rem) * 1.25);

  &:checked {
    background-color: var(--checkbox-background-color-checked);
  }

  &:checked::before {
    content: "";
    display: block;
    mask: url("./assets/check-medium.svg") no-repeat center / 100%;
    background-color: var(--checkbox-color-check, black);
    width: 100%;
    height: 100%;
  }

  &.icon-small:checked::before {
    mask-image: url("./assets/check-small.svg");
  }

  &.icon-large:checked::before {
    mask-image: url("./assets/check-large.svg");
  }
}
