.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 1;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5rem;
  padding: 1.5rem;
  z-index: 1;
  margin: 5rem 0 5rem 0;
}

.header {
  display: flex;
}

.footer {
  display: flex;
}

.title {
  margin: 0;
}

.close {
  align-self: end;
  cursor: pointer;
}
