version: 2.1
orbs:
  node: circleci/node@5.1.0

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cimg/base:stable

commands:
  prepare-node:
    description: "Command to prepare node"
    steps:
      - checkout
      - node/install:
          node-version: "12.22"

jobs:
  test-build:
    <<: *defaults
    steps:
      - prepare-node
      - node/install-packages
      - run:
          name: Run tests
          command: npm run test
      - run:
          name: Run build
          command: npm run build:prod

  deploy:
    <<: *defaults
    steps:
      - prepare-node
      - run:
          name: Authentication with NPM
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish

workflows:
  react-components-ci:
    jobs:
      - test-build
      - deploy:
          requires:
            - test-build
          filters:
            branches:
              only:
                - master
