.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  z-index: 2;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  color: #f9fbff;
}

.image-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  transform: translate(-50%, 0);
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.image {
  animation: loading 3s linear infinite;
  margin-bottom: 2rem;
}
