.container {
	display: flex;
	align-items: center;
	font-size: calc(var(--checkbox-size) * 0.7);
	cursor: pointer;
	width: fit-content;
	gap: calc(var(--checkbox-size) * 0.25);
}

.input {
	appearance: none;
	border: calc(var(--checkbox-size) * 0.08) solid black;
	cursor: pointer;
	width: var(--checkbox-size);
	height: var(--checkbox-size);

	&:checked {
		background-color: var(--checkbox-background-color-checked);
	}

	&:checked::before {
		content: "";
		display: block;
		mask: url("./assets/check-medium.svg") no-repeat center / 100%;
		background-color: var(--checkbox-color-check, black);
		width: 100%;
		height: 100%;
	}

	&.icon-small:checked::before {
		mask-image: url("./assets/check-small.svg");
	}

	&.icon-large:checked::before {
		mask-image: url("./assets/check-large.svg");
	}
}
