.container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	gap: 0.3rem;
}

.content {
	display: flex;
	flex-direction: column;
	position: absolute;
	align-items: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	min-width: 100%;
	z-index: 1;
}

.item {
	list-style: none;
	width: 100%;
}

.item-button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: var(--item-padding);
	width: 100%;
	color: var(--item-text-color);
	background-color: var(--item-background-color);
}

.item-button:hover {
	background-color: var(--item-hover-background-color);
	color: var(--item-hover-text-color);
}
