.container {
  position: relative;
  width: var(--width, 100%);
  height: var(--height, auto);
}

.input-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0;
  background-color: transparent;
  outline: none;
  z-index: 1;
  color: black;

  &:focus + .fieldset {
    border-width: 2px;

    &:not(:global(.success), :global(.warning), :global(.error)) {
      border-color: var(--focus-color, blue);
    }
  }
}

.fieldset {
  border: var(--border-width, 1px) solid black;
  border-radius: 5px;
  position: absolute;
  inset: -8.5px 0 0;
  font-size: 15px;
  margin: 0;

  :global(&.success) {
    border-color: var(--success-color, green);
    color: var(--success-color, green);
  }

  :global(&.warning) {
    border-color: var(--warning-color, orange);
    color: var(--warning-color, orange);
  }

  :global(&.error) {
    border-color: var(--error-color, red);
    color: var(--error-color, red);
  }
}

.legend {
  padding: 0 5px;
  font-weight: var(--font-weight, 400);
}

.message-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.message {
  font-size: 14px;
}
